<h3>Edit</h3>


<%= form_for @user do |f| %>
<fieldset>
  <%= f.label :email %>
  <%= f.email_field :email %>
</fieldset>
<fieldset>
  <%= f.label :password %>
  <%= f.password_field :password %>
</fieldset>
<fieldset>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</fieldset>
  <fieldset>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </fieldset>
  <fieldset>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </fieldset>
  <fieldset>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </fieldset>
  <fieldset>
    <%= f.label :subrub %>
    <%= f.text_field :subrub %>
  </fieldset>
  <fieldset>
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </fieldset>
  <fieldset>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </fieldset>
<p>
  <%= f.submit %>
</p>
<% end %>
