<h3>Make a Donation</h3>
<%= form_for @donation do |d| %>
    <fieldset>
        <%= collection_check_boxes(:donation, :category_ids, Category.all, :id, :categorytype) do |b| %>

                <%= b.check_box %>
                <%= b.label %>
<br>
        <% end %>
</fieldset>
<p>
        <%= d.label :amount %>
        <%= d.text_field :amount %>

        <%= d.submit "Donate" %>

</p>
<% end %>
